body {
    padding: 0;
    margin: 0;
    line-height: 1;
    scroll-behavior: smooth;

    
  }
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
    color: chocolate;
  }
  .container {
    width: 30%;
    min-width: 300px;
    margin: 0px auto;
    padding: 20px 50px;
    background-color: white;
  }
  input {
    width: 40%;
    height: 60px;
    padding: 10px;
    margin: 20px 10px 0px 20px;
    font-size: 25px;
    font-weight: 700;
  }
  select {
    width: 40%;
    height: 65px;
    padding: 10px;
    margin: 20px 10px 0px 20px;
    font-size: 25px;
    color: gray;
    font-weight: 700;
    border-radius: 7px;
  }
  .container header h1 {
    font-size: 5.5rem;
    margin: 0px 0px 10px 0px;
  }
  
  .container header hr {
    margin: 0px 0px 40px 0px;
  }
  .container section form fieldset {
    display: flex;
    flex-wrap: wrap;
  }
  .container section form fieldset legend {
    font-size: 2.7em;
    margin: 0px 0px 0px 20px;
  }
  .container section form fieldset select option[value="Section"] {
    font-weight: 700;
  }
  .container section form fieldset .campus {
    display: inline-block;
    width: 640px;
    min-width: 420px;
    margin: 0px 10px 0px 20px;
  }
  .container section form fieldset .campus .radio {
    min-width: 120px;
    width: 80%;
  }
  .container section form fieldset .campus h4 {
    margin: 20px 0px 0px 4px;
    font-size: 2.5em;
  }
  .container section form fieldset .campus input {
    width: 20px;
    height: 20px;
  }
  .container section form fieldset .campus label {
    font-size: 2em;
    font-weight: 700;
  }
  .container section form fieldset input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  .container section form fieldset .checkbox {
    margin: 15px 0px 20px 0px;
  }
  .container section form fieldset .checkbox label[for="freedomfighter"] {
    margin: 15px 0px 0px 0px;
    font-size: 2.2em;
  }
  .container section form fieldset .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px 0px 0px 100px;
  }
  .container section form fieldset .btn button[type="button"] {
    margin: 18px 10px 0px 10px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 2em;
    font-weight: 700;
    color: black;
  }
  .container section form fieldset .btn p {
    margin: 30px 0px 0px 0px;
    font-size: 2.5em;
    font-weight: 700;
  }



  